@use '../css/variables';

.root {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

aside {
  display: flex;
  flex: 5;
  flex-direction: column;
  justify-content: center;
  background-color: variables.$black-2;
}

main {
  display: flex;
  flex: 8;
  align-items: center;
  justify-content: center;
  background-color: variables.$black;
}

@media screen and (max-width: 1080px) {
  .root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
  }

  aside {
    display: none;
  }

  main {
    height: 100vh;
  }
}
